*{
padding: 0px;
margin: 0px;
border: 0;
}
*, *::before,*::after{
box-sizing: border-box;
}

.App {
  background-color: rgba(255, 255, 255, 0.5);
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: flex;
  justify-content: center;
}
.btnSearch{
  margin-left: 5px;
  width: 45px;
}
img{
border: none;
}
.search {
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  color: #575756;
  box-shadow: inset 0px 0px 0px 2px #e0f7da;
  }
  
 .icon{
  width: 30px;
 }

 .list{
display: flex;
flex-direction: column;
align-items: start;
 }
 .center{
  margin: 0 20% 0 30%
 }

 h1,h2{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin: 20px;
 }
 h1{
  font-size: 36px;
 }
 h2{
  font-size: 24px;
 }

 p,ul{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
 }

 li{
   list-style: none ;
   background-color: rgb(204, 204, 191, 0.5);
   margin-top: 2px;
 }
 .dishtype-par{
   font-style: italic;
 }


@media all and (max-width:500px ){
  img{
    width: 250px;
  }
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
  .center{
    margin: 0 2% 0 2%
   }
}
